{% extends 'base.html' %}
{% load tailwind_filters %}


{% block content %}
<form action="" method="post" class="mx-auto mt-8 mb-0 max-w-lg space-y-4 shadow px-14 py-24 mt-24">
    {% csrf_token%}
    {{form|crispy}}
    <section>
        <button type="submit"
            class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-6">Signup</button>
    </section>
    <section>
        <p>
            <span class="mr-2">Already have an accout?
            </span>
            <a href="{% url 'login' %}" class="mt-3 text-indigo-500 inline-flex items-center">Back to login
            </a>
        </p>
    </section>
</form>
{% endblock %}